/* 重置&默认(reset&base)(tags) */
*{margin: 0;padding: 0}
*[hidefocus],input,textarea,a{outline:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
fieldset,img,html,body,iframe{border:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
caption,th{font-weight:normal;font-style:normal;text-align:left;}
em,strong{font-weight:bold;font-style:normal;}
html{  font-size:62.5%;}
body,textarea,select,input,pre{font-family:"Helvetica Neue",Arial,"Microsoft Yahei",Helvetica,sans-serif,Lato}
body{background:#f8f8f8;-webkit-text-size-adjust:none;}
a,button{cursor:pointer;}
textarea{resize:none;overflow:auto;}
pre{white-space:pre-wrap;}
a{color:#333;text-decoration:none;}
input{
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-modify: read-write-plaintext-only;
}
button {
    -webkit-tap-highlight-color: rgba(255,255,255,0)
}
/* 布局(grids)(.g-) */ 
/* 页面 */

/* 首页 */
.h5_ppt .h5_contentbasename_icon_bottom{
    animation:mymove 2s infinite;
    -webkit-animation:mymove 2s infinite;

}
@keyframes mymove{
    0% { transform:scale(0.8)}
    50%{ transform:scale(1.2)}
    100% {transform:scale(0.8)}
}
@-webkit-keyframes mymove {
    0% { transform:scale(0.8)}
    50%{ transform:scale(1.1)}
    100% {transform:scale(0.8)}
}
.h5_ppt .h5_contentbasename_first_share{
    animation:mymove 2s infinite;
    -webkit-animation:rock 2s infinite 2s;
}
@-webkit-keyframes rock{
    0%{ transform:rotate(0deg)}
    5%{ transform:rotate(3deg)}
    10%{ transform:rotate(-4deg)}
    15%{ transform:rotate(3deg)}
    20%{ transform:rotate(-2deg)}
    25%{ transform:rotate(1deg)}
    30%{ transform:rotate(-1deg)}
    70%{ transform:rotate(0deg)}
    100%{ transform:rotate(0deg)}
}
@-webkit-keyframes rock{
    0%{ transform:rotate(0deg)}
    5%{ transform:rotate(3deg)}
    10%{ transform:rotate(-4deg)}
    15%{ transform:rotate(3deg)}
    20%{ transform:rotate(-2deg)}
    25%{ transform:rotate(1deg)}
    30%{ transform:rotate(-1deg)}
    70%{ transform:rotate(0deg)}
    100%{ transform:rotate(0deg)}
}
/*about me*/
.h5_contentbasename_page1_content{
    font-family:"Andalus";
    color: #fff;
    letter-spacing: 1px;
}
/*exprience*/
.h5_contentbasename_polyline .text{
    color: #fff;
}
/*skill*/
.h5_contentbasename_radar .text{
    color: #fff;
    font-size: 16px;
}
/*property*/
.h5_contentbasename_bar_v .line_bar_v{
    color: #fff;
}



